@font-face {
    font-family: "Avenir";
    src: url(font/Avenir.otf);
}
@font-face {
    font-family: "AvenirBlack";
    src: url(font/Avenir-Black.otf);
}
body { 
    font-family: Avenir;
}
.location, .calander {
    border-right: 1px solid #ddd;
    padding-right: 10px;
}
@media only screen and (max-width: 600px) {
body{
    padding: 10px !important;
}
tr {
    display: inline-grid;
    width: 100%;
}
.main-table {
    width: 100% !important;
    
}
button {
    width: 100%  !important;
}
.detail-col {
    margin: 0 !important;
}
.car-image {
    width: 100%;
}
.imageBox {
    width: 150px;
}
td {
    width: 100% !important;
}

}